# Kanbn Instance URL (Default is the public cloud instance, but can be a self-hosted instance)
# Ex: https://kan.bn/api/v1 or http://localhost:3000/api/v1
KANBN_BASE_URL=https://kan.bn/api/v1

# Your Kanbn API Key (obtained from your Kanbn account settings)
KANBN_API_KEY=kan_your_api_key_here
